@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;     
      
}
.container {
	width: 100%;
	height: 100%;
    background-image: url(/imgs/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat; 
    cursor: default;
}
.header h2 {
    font-weight: 400;
    color: #fff;
}
.main-content {
	width: 100%;
	height: 100%;
	padding: 100px 40px;
	background-color: rgba(255,255,255,0) ; 
	border-radius: 15px;
	box-shadow: 0 25px 31px 0 rgba(0,0,0,0);
    transition: transform 0.3s ease-in-out;
}

/* .main-content:hover {
    transform: translateY(-10px);
} */

.text-area {
	text-align: center;
    font-family: 'Oswald';
    font-weight: 700;
	font-size: 6vw; 
	color: #262626;
	line-height: 1.5;
    transition: transform 0.3s ease-out;
    transform: scale(1,1.3);
height: 40%;
    width: 100%;
    
}
.text-area:hover {
    transform: translate(-10px,-10px) scale(1,1.3);
    text-shadow: 1vh 1vh #fff;
}
.text-area .icon {
    margin-right: 5px;
}
.main-content .writer {
    text-transform: uppercase;
    font-family: 'Oswald';
	letter-spacing: 5px;
	color: #000;
    text-shadow:  0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;;
	text-align: center;
	margin-top: 30vh;
    margin-left: 50vw;
font-size: 2vw;
	
}
.main-content .button-area {
	display: grid;
    size: contain;
	place-items: left;
	margin-top: -5vh;
    margin-left: 5vw;
	padding: 10px 0;
    position: absolute;
    bottom: 20;

}
.button-area .btn button {
    background-color: rgb(38, 38, 38);
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px 15px; 
    
}
.button-area button:active {
    background-color: rgba(38, 38, 38, 0.5);

}
.button-area .btn button:hover {
    background-color: rgba(56, 104, 224, 0.5);
}
